<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <!--CHUNK PARAMETERS-->
    
    <!-- betwwen 1 and 100 normally 16-->
    <add key="chunk_size" value="16" />
    <!-- betwwen 1 and 100 normally 64-->
    <add key="high" value="64" />
    <!-- betwwen 1 and 10 normally 5-->
    <add key="water_level" value="5" />
    <!-- if async rendering is enable-->
    <add key="render_enable" value="true" />
    <!-- betwwen 1 and 10  normally 5 for old computer-->
    <add key="render_offset" value="4" />
    
    <!-- WORLD GENERETING SCALE PARAMETERS -->
    
    <!-- CEP is devided by 10000, influence world generaing shape-->
    <!-- continentalness, gentle hills,  normally 45-->
    <add key="continentalness" value="45" />
    <!-- continentalness, gentle hills,  normally 16-->
    <add key="erosions" value="16" />
    <!-- continentalness, gentle hills,  normally 100-->
    <add key="peaks_and_valleys" value="100" />
    <!-- trees, normally 16-->
    <add key="trees" value="16" />
    <!-- details_congestion, normally 16-->
    <add key="details_congestion" value="16" />
    <!-- natural resources,between 1 and 10 -->
    <add key="natural_resources" value="1" />
    <!-- seed must be int -->
    
    <!--SEED-->
    
    <!--<add key="seed" value="0998675" />--> <!--spawn w dziurze-->
    <!--<add key="seed" value="0999" />--> <!--ZIMA-->
    <!--<add key="seed" value="1234345" />--> <!--pustynia-->
    <add key="seed" value="99999" /> <!--SAVANNA I LAS LADNY TEREN-->
    <!--<add key="seed" value="3346554" /> las i dziura w ziemi -->
    <!--<add key="seed" value="260003091" />--> <!--GEOMETRIA-->
    
  </appSettings>
</configuration>